<!DOCTYPE html>

<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <a class="navbar-brand" href="#">{{title}}</a>
  </div>

  <div>
    <ul class="nav navbar-nav">
      <li [class.active]="router.isRouteActive(router.generate(['/PictureGrid']))"><a [routerLink]="['PictureGrid']">Main grid</a></li>
      <li [class.active]="router.isRouteActive(router.generate(['/Upload']))"><a [routerLink]="['Upload']">Upload</a></li>
      <li [class.active]="router.isRouteActive(router.generate(['/Timeline']))"><a [routerLink]="['Timeline']">Timeline</a></li>
      <li class="divider"></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>

