<!DOCTYPE html>

<div class="container">

  <div class="row">
    <img src="http://localhost:8080/rest/pictures/{{id}}" class="img-rounded"/>
  </div>


  <div class="row">
    {{picture?.caption}}
  </div>

  <div class="row">
    <a href="#">Comments <span class="badge">{{picture?.comments?.length}}</span></a>
  </div>


  <div class="row">
    <button type="button" class="btn btn-primary"
            (click)="isCollapsed = !isCollapsed">Show comments
    </button>
    <hr>
    <div [collapse]="isCollapsed" class="card card-block card-header">

      <div *ngIf="picture?.comments">
        <div *ngFor="#comment of picture?.comments" class="row">
          <div>Author: {{comment?.author}}</div>
          <div>Comment: {{comment?.text}}</div>
          <div>Date: {{comment?.date | date:'yyyy-MM-dd HH:mm'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-3">
      <textarea placeholder="add a comment"></textarea>
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-success green"> Comment</button>

    </div>

  </div>
</div>
