<!DOCTYPE html>

<div class="container">

  <form [ngFormModel]="pictureForm" (submit)="upload($event)">

      <h3>Select file</h3>

      <div class="form-group">
        <input type="file" (change)="fileChanged($event)" placeholder="Upload file..." />
      </div>

      <div class="form-group">
        <textarea [(ngModel)]="caption" class="form-control" placeholder="Enter caption here"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>

  </form>

</div>
